@model EmployeeViewModel
@using Employee_Management_System.Constants
@{
    ViewBag.Title = "Employee Management System";
}


<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TaskId)</th>
            <th><label for="task_description">Task Description</th>
            <th>@Html.DisplayNameFor(m => m.TaskStatus)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (EMSTask task in ViewBag.EmployeeTasks)
        {
            @using (Html.BeginForm("EmployeeView", "EMS", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td><label id="@task.TaskId">@task.TaskId</label></td>
                    <td>@Html.DisplayFor(em => task.TaskDescription)</td>
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        foreach (EMSTaskStatus status in Enum.GetValues(typeof(EMSTaskStatus)))
                        {
                            SelectListItem listItem = new SelectListItem()
                            {
                                Text = status.ToString(),
                                Value = $"{status.ToString()}_{task.TaskId}",
                                Selected = (status.ToString() == task.Status ? true : false)
                            };
                            listItems.Add(listItem);
                        }
                    }

                    <td>@Html.DropDownListFor(em => task.Status, listItems)</td>

                    <td><input type="submit" value="Add" class="btn btn-primary" /></td>   
                </tr>
                }
            }

        </tbody>
</table>
<br />
<br />

@Html.ActionLink("Log out", "Logout", "EMS")

<script type="text/javascript">
</script>

<style type="text/css">
    td {
        padding: 0 15px;
    }
</style>