@{
    ViewBag.Title = "Employee Management System";
}
@model EmployeeViewModel
@using Employee_Management_System.Constants


@using (Html.BeginForm("EmployeeView", "EMS", FormMethod.Post, new { id = "EmpView", name = "EmpView" }))
{
    @foreach (EMSTask task in ViewBag.EmployeeTasks)
    {
        <div class="col-lg-10">
            <div class="col-lg-2">@Html.LabelFor(m => m.TaskId)</div>
            <div class="col-lg-2">@task.TaskId</div>
            <div class="col-lg-2">@Html.LabelFor(m => m.TaskDescription)</div>
            <div class="col-lg-2">@task.TaskDescription</div>
            <div class="col-lg-2">@Html.LabelFor(m => m.TaskStatus)</div>

            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                foreach (EMSTaskStatus status in Enum.GetValues(typeof(EMSTaskStatus)))
                {
                    SelectListItem listItem = new SelectListItem()
                    {
                        Text = status.ToString(),
                        Value = status.ToString(),
                        Selected = (status.ToString() == task.Status ? true : false)
                    };
                    listItems.Add(listItem);
                }
            }

            <div class="col-lg-2">@Html.DropDownListFor(m => m.TaskStatus, listItems, new { onchange = "SelectedIndexChanged()" })</div>
        </div>
    }
    <br />
    <br />
}

@Html.ActionLink("Log out", "Logout", "EMS")

<script type="text/javascript">
    function SelectedIndexChanged() {
        //Form post
        document.EmpView.submit();
    }
</script> 